<div class="conatiner d-float bg-info">
  <h1>GalaxyCards</h1>
  <div class="row">
    <div class="col-sm col-md-4 col-xl-4">
      <h3>Hi!, Amit were glad to see you here</h3>
    </div>
    <div class="col-sm col-md-8 col-xl-8 justify-content-center">
      <div class="justify-content-center"
        style="background-color: black; width: 40px; height: 40px; border-radius: 30px; margin-left: 90%;">
        <i class="fa" style="font-size:24px; color: white; margin-top:8px; margin-left: 5px;">&#xf07a;</i>
        <span class='badge badge-warning' id='lblCartCount'> 5 </span>
      </div>
    </div>
  </div>

<mat-card class="bg-dark m-2 rounded">
  <div class="row">
    <div class="col-sm col-md-9 col-xl-9">
      <mat-card-title-group>
        <mat-card-title style="color: white;">₹ 30,000</mat-card-title>
        <mat-card-subtitle style="color: white;">Balance of ₹50,000</mat-card-subtitle>
      </mat-card-title-group>
    </div>
    <div class="col-sm col-md-3 col-xl-3">
      <mat-card-title-group>
        <i class="fa fa-crown" style="color: aliceblue;"></i>
        <p style="color: white;">Upgrade and win ></p>
      </mat-card-title-group>
    </div>
  </div>
  <mat-card-content>
    <mat-progress-bar mode="determinate" value="60" style="height: 10px;"></mat-progress-bar><br>
    <i class="fa fa-exclamation-circle" style="color: white;">You have used 10% of your CREDIT LIMIT</i>
  </mat-card-content>
  <mat-card-footer>
    <hr style="color: grey;">
    <div class="row">
      <div class="col-sm col-md-9 col-xl-9 justify-content-center">
        <i class="fa fa-newspaper-o" style="color: red; size: 40px; margin-left: 20%;"><span
            style="color: white; margin-left: 5px;">Bill date 1 December</span></i>
      </div>
      <div class="col-sm col-md-3 col-xl-3 justify-content-center">
        <button class="btn btn-primary justify-content-center" style="border-radius: 20px;margin-bottom: 10px;">Pay Now</button>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
<mat-card class="bg-light m-2 rounded">
  <i class="fa fa-newspaper-o" style="color: red; size: 100px; margin-left: 1%;"><span
    style="margin-left: 5px; color: black;">Pay Bills</span></i>
    <br>
    <div class="row">
      <div class="col-sm col-md-2 col-xl-2 justify-content-center">
        <mat-card class="m-2" style="border-radius: 10px; height: 60px; width: 60px;">
        <i class="fa fa-newspaper-o" style="color: red; size: 40px; margin-left: 20%;"></i>
        </mat-card>
        <p
          style="margin-left: 5px; color: black;">Buy Gold</p>
      </div>

      <div class="col-sm col-md-2 col-xl-2 justify-content-center">
        <mat-card class="m-2" style="border-radius: 10px; height: 60px; width: 60px;">
        <i class="fa fa-newspaper-o" style="color: red; size: 40px; margin-left: 20%;"></i>
        </mat-card>
        <p
          style="margin-left: 5px; color: black;">Pay Store</p>
      </div>
      <div class="col-sm-5 col-md-2 col-xl-2 justify-content-center">
        <mat-card class="m-2" style="border-radius: 10px; height: 60px; width: 60px;">
          <i class="fa fa-mobile-phone" style="font-size:45px;color:red; margin-bottom: 10px;"></i>
        </mat-card>
        <p
          style="margin-left: 5px; color: black;">Mobile</p>
      </div>
      <div class="col-sm-5 col-md-2 col-xl-2 justify-content-center">
        <mat-card class="m-2" style="border-radius: 10px; height: 60px; width: 60px;">
        <i class="fa fa-newspaper-o" style="color: red; size: 40px; margin-left: 20%;"></i>
        </mat-card>
        <p
          style="margin-left: 5px; color: black;">Pay Bills</p>
      </div>
      <div class="col-sm-5 col-md-2 col-xl-2 justify-content-center">
        <mat-card class="m-2" style="border-radius: 10px; height: 60px; width: 60px;">
        <i class="fa fa-newspaper-o" style="color: red; size: 40px; margin-left: 20%;"></i>
        </mat-card>
        <p
          style="margin-left: 5px; color: black;">Pay Bills</p>
      </div>
      <div class="col-sm-5 col-md-2 col-xl-2 justify-content-center">
        <mat-card class="m-2" style="border-radius: 10px; height: 60px; width: 60px;">
        <i class="fa fa-newspaper-o" style="color: red; size: 40px; margin-left: 20%;"></i>
        </mat-card>
        <p
          style="margin-left: 5px; color: black;">Pay Bills</p>
      </div>
      <div class="col-sm-5 col-md-2 col-xl-2 justify-content-center">
        <mat-card class="m-2" style="border-radius: 10px; height: 60px; width: 60px;">
        <i class="fa fa-newspaper-o" style="color: red; size: 40px; margin-left: 20%;"></i>
        </mat-card>
        <p
          style="margin-left: 5px; color: black;">Pay Bills</p>
      </div>
    </div>
</mat-card>
<ngb-carousel #carousel [interval]="2000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
  <ng-template ngbSlide>
    <div style="width: 80%; margin-left: 10%;">
      <mat-card style="height: 100px; width: 100%;">
        <div class="row">
          <div class="col-sm col-md-9 col-xl-9">
            <mat-card-title-group>
              <mat-card-title><h1><b>Refer and earn!! </b></h1></mat-card-title>
              <mat-card-subtitle>Refer your fiends and amazon pay<br>gift card voucher ₹ 50</mat-card-subtitle>
            </mat-card-title-group>
          </div>
          <div class="col-sm col-md-3 col-xl-3">
            <mat-card-title-group>
              <i class="fa fa-gift" style="font-size:48px;color:red"></i>
            </mat-card-title-group>
          </div>
        </div>
      </mat-card>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="width: 80%; margin-left: 10%;">
      <mat-card style="height: 100px; width: 100%;">
        <div class="row">
          <div class="col-sm col-md-9 col-xl-9">
            <mat-card-title-group>
              <mat-card-title><h1><b>Refer and earn!! </b></h1></mat-card-title>
              <mat-card-subtitle>Refer your fiends and amazon pay<br>gift card voucher ₹ 50</mat-card-subtitle>
            </mat-card-title-group>
          </div>
          <div class="col-sm col-md-3 col-xl-3">
            <mat-card-title-group>
              <i class="fa fa-gift" style="font-size:48px;color:red"></i>
            </mat-card-title-group>
          </div>
        </div>
      </mat-card>
    </div>
  </ng-template>
</ngb-carousel>
<br>
<br>
</div>
